//colors

$text-color-green: #808369;
$text-color-grey: #929292;
$text-color-black: #434343;
$text-color-white: #ffffff;
$text-color-services-numbers: #eae7e0;

//bgc
$header-background-color: #f3f1ec;
$button-background-color: #ffb18b;
$banners-background-color: rgba(255, 255, 255, 0.7);
$section-background-color: #f3f1ec;
$input-background-color: rgba(255, 177, 139, 1);
$social-icons-background-color: #a7a99a;
// width

$section-width: 94.791666%;
$wrapper-width: 64.285714%;


// sizes
//    fonts

$font-size-main: 14px;
$font-size-section-headers: 35px;