@import "../partials/params";
@import "../partials/mixins";
@import "../adds/fonts";



.header {
  height: 56px;
  background-color: $header-background-color;
  display: flex;
  align-items: center;
  margin-bottom: 0;
  &__nav {

    & ul {
      display: flex;
      justify-content: center;



      & li {
        list-style: none;
        padding: 0 25px;
        border-right: 1px solid black;
        border-right-color: rgba(67, 67, 67, 0.2);

        &:last-of-type {
          border: 0;
        }
        & a {
          text-decoration: none;
          color: $text-color-green;
          text-transform: uppercase;
          @include respond-to(d) {
            &:hover {
              color: $button-background-color;
            }
          }
          @include respond-to(1280) {
            font-size: 10px;
          }
        }

        & i.fa-home {
          color: $text-color-black;
          @include respond-to(d) {
            &:hover {
              color: $button-background-color;
            }
          }
        }
      }
    }
  }
}

