@import "../partials/params";
@import "../partials/mixins";
@import "../adds/fonts";


.footer {
  margin-bottom: 0;
  position: relative;
  & .arrow-down {
    width: 117px;
    height: 117px;
    border-radius: 50%;
    position: absolute;
    top: -160px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $text-color-white;
    color: $text-color-green;
    font-size: 12px;
    line-height: 20px;
    @include respond-to(d) {
      &:hover {
        border-top: 3px solid $button-background-color;;
      }
    }
    & p {
      text-transform: uppercase;
    }
    & a {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

    }
  }
  &__row {
    display: flex;
    width: 100%;


    &:nth-of-type(1) {
      justify-content: space-between;
      //margin-bottom: 70px;
      & .footer__row--col {
        &:nth-of-type(1) {
          width: 22.077922%;
        }
        &:nth-of-type(2) {
          width: 48.051948%;
        }
        &:nth-of-type(3) {
          width: 22.077922%;
        }
      }
    }

    &:nth-of-type(2) {
      flex-direction: column;
      & .footer__row--col {
        width: 100%;
        display: flex;
        justify-content: center;
        &:nth-of-type(1) {

        }
        &:nth-of-type(2) {

        }

      }
    }

  }
  &__contacts {
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 20px;
    text-align: right;

    & a {
      @include respond-to(d) {
        &:hover {
          color: $button-background-color;
        }
      }
    }
    &--telepnone {
      width: 100%;
      & .number {
        width: 100%;
        @include respond-to(1280) {
          font-size: 10px!important;
        }
      }
    }
    &--e-mail {
      width: 100%;
      text-transform: uppercase;
      & .e-mail {
        @include respond-to(1280) {
          font-size: 10px!important;
        }
      }
    }
  }
  &__brand {
    width: 100%;
    display: flex;
    justify-content: center;

    &--img {
      position: relative;
      & img {
        width: 100%;
      }
      & p {
        position: absolute;
        width: 100px;
        height: 58px;
        top: 10%;
        left: 50%;
        transform: translate(-55%, -50%);
        font-family: $FontYellowtail;

        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        & span {
          font-size: 45px;
          letter-spacing: 1px;
          color: $text-color-black;

          &:last-of-type {
            position: absolute;
            top: 43%;
            left: 50%;
            transform: translateX(-40%);
          }
        }

      }
      & .catering {
        position: absolute;
        bottom: 10px;
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        color: $text-color-green;
        font-size: 12px;
      }
    }
  }
  &__address {
    font-size: 14px;
    line-height: 20px;
    text-align: left;
    display: flex;
    flex-direction: column;
    font-family: $FontPTSerifBold;
    text-transform: uppercase;
    color: $text-color-green;
    & p {
      @include respond-to(1280) {
        font-size: 10px!important;
      }
    }
  }
  &__soc {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 24.935064%;
    height: 132px;
    margin-bottom: 55px;
    @include respond-to(1280) {
      height: 90px;
    }
    & > div {
      width: 21.875%;
      height: 31.818181%;

      border-radius: 50%;
      background-color: $social-icons-background-color;

      & a {

        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        & i {
          color: $text-color-white;
          font-size: 13px;
          text-align: center;
          transition: all 0.3s;
        }
        @include respond-to(d) {
          &:hover {
            & i {
              color: $button-background-color;
            }
          }
        }
      }

    }
  }
  .rights {
    font-size: 14px;
    font-family: $FontPTSerifRegular;
    letter-spacing: 0;
    color: $text-color-grey;
    margin-bottom: 40px;
    line-height: 24px;

    & a {
      text-decoration: underline;
      @include respond-to(d) {
        &:hover {
          color: $button-background-color;
        }
      }
    }
  }

}